/* ---------------------------- */
/*             RESET            */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
/* Pseudo elements are also included since it is not automatically selected. */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Calculating widths & heights easier */
}

/* Reset margins */
/* Can be used to battle "collapsing margins" */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}


/* Design requires no bold to be used. */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    /* display: block; */
    /* This element has been commented out, since the "hidden" attribute won't work when display block is enabled. */
}

/* Make forms elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
    /* Default: font properties are not inherited for these elements */
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ---------------------------- */
/*      CUSTOM PROPERTIES       */
/* ---------------------------- */
:root {
    transition-behavior: allow-discrete;
    /* Allow for discrete rules to be animatable. Copy this to the location where it is used. This property is not inherited.*/
    interpolate-size: allow-keywords;
    /* Allows for animating to height auto */

    /* Primary */
    --clr-green-500: 158deg 36% 37%;
    --clr-green-700: 158deg 42% 18%;

    /* Neutral */
    --clr-black: 212deg 21% 14%;
    --clr-grey: 228deg 12% 48%;
    --clr-cream: 30deg 38% 92%;
    --clr-white: 0deg 0% 100%;


    /* Font size */
    --fs-h2: clamp(1.875rem, 4vw, 2.5rem);
    --fs-h1: clamp(0.875, 2vw, 1rem);
    --fs-p: 0.875rem;

    --ff-Montserrat: "Montserrat", sans-serif;
    --ff-Fraunces: "Fraunces", serif;

    /* Border radi */
    --border-radius-small: clamp(0.5rem, 2vw, 1rem);

}

/* ---------------------------- */
/*       UTILITY CLASSES        */
/* ---------------------------- */

/* ---------------------------- */
/*        PAGE SPECIFICS        */
/* ---------------------------- */

body {
    background-color: hsl(var(--clr-cream));
    padding-top: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* Fonts */
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-p);
    font-weight: 500;
    text-decoration: none;
}

a:visited,
a {
    text-decoration: inherit;
    color: hsl(var(--clr-grey));;
}

a:active,
a:hover {
    text-decoration: inherit;
    color: hsl(var(--clr-green-700))
}

.container {
    margin: 1rem;
    background-color: hsl(var(--clr-white));
    border-radius: var(--border-radius-small);
    display: flex;
    flex-direction: column;
    max-width: 600px;

    header img {
        border-top-left-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
        width: 100%;
    }
}


main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--fs-h1);
    text-transform: uppercase;
    color: hsl(var(--clr-grey));
}

h2 {
    font-family: var(--ff-Fraunces);
    font-weight: 700;
    font-size: var(--fs-h2);
    padding-block: 1.5rem;
}

p {
    font-size: var(--fs-p);
    letter-spacing: 0.5px;
    line-height: 1.25rem;
    color: hsl(var(--clr-grey));
}

.price {
    display: flex;
    gap: 1.5rem;
    padding-block: 1.5rem;
    flex-wrap: wrap;

    p:first-child {
        font-size: var(--fs-h2);
        font-family: var(--ff-Fraunces);
        font-weight: 700;
        color: hsl(var(--clr-green-500))
    };

    p:last-child {
        text-decoration: line-through;
    };
}

footer {
    text-align: center;
    
}

button > img {
    width: 14px;
    height: 14px;
    margin-right: 0.5rem;
    display: inline;
    vertical-align: middle;
}

button {
    background-color: hsl(var(--clr-green-500));
    color: hsl(var(--clr-white));
    padding: 1rem;
    border-radius: var(--border-radius-small);
    border: 0;
}

button:hover,
button:active {
    background-color: hsl(var(--clr-green-700));
}

@media (width > 375px) {
    body {
        justify-content: center;
    }

    header {
        width: 50%;
        margin: 0;
        padding: 0;
    }

    header img {
        content: url(images/image-product-desktop.jpg);
        height: 100%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: var(--border-radius-small);
    }

    .container {
        flex-direction: row;
    }

    main {
        width: 50%;
    }
}